# RUNNING BASIC SQL QUERIES FROM A JUPYTER NOTEBOOK (With Examples)
Real data from the U.S. Census. This dataset shows the number of completed housing units in major regions of the United States. The table has a column for each region. The values in each row represent the number of housing units completed in thousands during the corresponding month. The data was collected in August 2014 and can be accessed at the U.S. Census website.

## Setting up Jupyter notebook display

In [2]:
# Import pandas a python library
import pandas as pd

# Display more rows
pd.set_option('display.max_rows', 15000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

# Increase display size
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

## Getting Started: Load ipython-sql and import Create_engine

In [3]:
# Load ipython-sql, using the following magic command:
%load_ext sql

In [4]:
# Next, we will only need the create_engine() function from sqlalchemy so let’s import that with the following line:
from sqlalchemy import create_engine

## Connecting to a PostgreSQL the database
Once we’ve laid the groundwork, we can now connect to a PostgreSQL database!
The PostgreSQL database contains housing report data projects data in the portfolio database.

In [5]:
# Use the following format to connect ipython-sql to the portfolio database.
%sql postgresql://postgres:1372Sql$@localhost/portfolio

In [6]:
# To connect sqlalchemy to the database
engine = create_engine('postgresql://postgres:1372Sql$@localhost/portfolio')

## An exploration of the live table storing all of the Housing Units data

In [9]:
%%sql
SELECT * FROM housing_units
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 1.0, 'January', 35.6, 17.0, 22.6, 12.9),
 (1968.0, 2.0, 'February', 31.5, 18.6, 23.3, 9.7),
 (1968.0, 3.0, 'March', 42.5, 17.4, 24.4, 10.7),
 (1968.0, 4.0, 'April', 42.9, 20.6, 27.0, 12.0),
 (1968.0, 5.0, 'May', 46.2, 20.0, 25.1, 20.0),
 (1968.0, 6.0, 'June', 37.7, 23.2, 26.9, 16.8),
 (1968.0, 7.0, 'July', 50.3, 21.2, 25.7, 20.1),
 (1968.0, 8.0, 'August', 46.6, 23.1, 33.4, 15.3),
 (1968.0, 9.0, 'September', 48.7, 22.0, 37.9, 27.0),
 (1968.0, 10.0, 'October', 50.2, 23.0, 34.2, 20.5)]

## Sql Limit

In [8]:
%%sql
SELECT south, west AS "West Region" FROM housing_units
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(35.6, 17.0),
 (31.5, 18.6),
 (42.5, 17.4),
 (42.9, 20.6),
 (46.2, 20.0),
 (37.7, 23.2),
 (50.3, 21.2),
 (46.6, 23.1),
 (48.7, 22.0),
 (50.2, 23.0)]

## Capitalize first letter of column

In [8]:
%%sql
SELECT year AS "Year", month AS "Month", month_name AS "Month_name", south AS "South", west AS "West", midwest AS "Midwest", northeast AS Northeast FROM housing_units
LIMIT 15

 * postgresql://postgres:***@localhost/portfolio
15 rows affected.

[(1968.0, 1.0, 'January', 35.6, 17.0, 22.6, 12.9),
 (1968.0, 2.0, 'February', 31.5, 18.6, 23.3, 9.7),
 (1968.0, 3.0, 'March', 42.5, 17.4, 24.4, 10.7),
 (1968.0, 4.0, 'April', 42.9, 20.6, 27.0, 12.0),
 (1968.0, 5.0, 'May', 46.2, 20.0, 25.1, 20.0),
 (1968.0, 6.0, 'June', 37.7, 23.2, 26.9, 16.8),
 (1968.0, 7.0, 'July', 50.3, 21.2, 25.7, 20.1),
 (1968.0, 8.0, 'August', 46.6, 23.1, 33.4, 15.3),
 (1968.0, 9.0, 'September', 48.7, 22.0, 37.9, 27.0),
 (1968.0, 10.0, 'October', 50.2, 23.0, 34.2, 20.5),
 (1968.0, 11.0, 'November', 45.7, 18.4, 35.8, 14.4),
 (1968.0, 12.0, 'December', 49.8, 21.6, 31.2, 19.5),
 (1969.0, 1.0, 'January', 40.1, 19.7, 18.0, 11.0),
 (1969.0, 2.0, 'February', 34.8, 23.0, 23.3, 14.9),
 (1969.0, 3.0, 'March', 53.3, 21.1, 23.5, 17.0)]

## Sql Where

In [9]:
%%sql
SELECT * FROM housing_units
WHERE month = 1
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 1.0, 'January', 35.6, 17.0, 22.6, 12.9),
 (1969.0, 1.0, 'January', 40.1, 19.7, 18.0, 11.0),
 (1970.0, 1.0, 'January', 43.7, 25.2, 23.1, 13.2),
 (1971.0, 1.0, 'January', 46.8, 22.3, 24.0, 14.2),
 (1972.0, 1.0, 'January', 67.6, 32.8, 26.6, 18.2),
 (1973.0, 1.0, 'January', 72.2, 33.7, 32.4, 23.2),
 (1974.0, 1.0, 'January', 65.8, 28.7, 27.5, 21.1),
 (1975.0, 1.0, 'January', 50.3, 21.7, 31.4, 13.9),
 (1976.0, 1.0, 'January', 36.5, 22.4, 23.8, 8.9),
 (1977.0, 1.0, 'January', 37.7, 31.0, 25.5, 9.2)]

## Sql Comparison Operators
- Equal to	=
- Not equal to	<> or !=
- Greater than	>
- Less than	<
- Greater than or equal to	>=
- Less than or equal to	<=

In [10]:
%%sql
SELECT * FROM housing_units
WHERE west > 30
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1970.0, 9.0, 'September', 49.7, 31.2, 29.7, 18.3),
 (1971.0, 4.0, 'April', 60.6, 32.3, 25.1, 15.2),
 (1971.0, 5.0, 'May', 60.4, 30.3, 27.1, 15.9),
 (1971.0, 6.0, 'June', 63.4, 30.8, 28.7, 21.4),
 (1971.0, 7.0, 'July', 62.3, 36.7, 28.5, 18.0),
 (1971.0, 8.0, 'August', 69.3, 43.1, 37.9, 21.2),
 (1971.0, 9.0, 'September', 65.5, 38.2, 40.2, 26.0),
 (1971.0, 10.0, 'October', 66.4, 43.5, 37.7, 27.1),
 (1971.0, 11.0, 'November', 63.7, 34.2, 34.2, 21.0),
 (1971.0, 12.0, 'December', 73.6, 40.9, 32.8, 19.1)]

In [11]:
%%sql
SELECT * FROM housing_units
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 1.0, 'January', 35.6, 17.0, 22.6, 12.9),
 (1968.0, 2.0, 'February', 31.5, 18.6, 23.3, 9.7),
 (1968.0, 3.0, 'March', 42.5, 17.4, 24.4, 10.7),
 (1968.0, 4.0, 'April', 42.9, 20.6, 27.0, 12.0),
 (1968.0, 5.0, 'May', 46.2, 20.0, 25.1, 20.0),
 (1968.0, 6.0, 'June', 37.7, 23.2, 26.9, 16.8),
 (1968.0, 7.0, 'July', 50.3, 21.2, 25.7, 20.1),
 (1968.0, 8.0, 'August', 46.6, 23.1, 33.4, 15.3),
 (1968.0, 9.0, 'September', 48.7, 22.0, 37.9, 27.0),
 (1968.0, 10.0, 'October', 50.2, 23.0, 34.2, 20.5)]

In [12]:
%%sql
SELECT * FROM housing_units
WHERE month_name = 'June'
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 6.0, 'June', 37.7, 23.2, 26.9, 16.8),
 (1969.0, 6.0, 'June', 53.7, 23.5, 31.6, 22.9),
 (1970.0, 6.0, 'June', 60.1, 25.8, 29.9, 15.0),
 (1971.0, 6.0, 'June', 63.4, 30.8, 28.7, 21.4),
 (1972.0, 6.0, 'June', 73.5, 41.1, 35.2, 24.1),
 (1973.0, 6.0, 'June', 87.1, 40.1, 43.3, 31.7),
 (1974.0, 6.0, 'June', 69.4, 31.3, 42.2, 23.6),
 (1975.0, 6.0, 'June', 49.0, 21.7, 24.2, 15.0),
 (1976.0, 6.0, 'June', 45.4, 30.9, 26.7, 17.7),
 (1977.0, 6.0, 'June', 55.0, 41.0, 34.6, 14.3)]

### Did the West Region ever produce more than 50,000 housing units in one month?

In [13]:
%%sql
SELECT * FROM housing_units
WHERE midwest >= 50

 * postgresql://postgres:***@localhost/portfolio
2 rows affected.

[(1973.0, 10.0, 'October', 75.3, 40.0, 55.7, 27.8),
 (1977.0, 9.0, 'September', 61.3, 41.2, 51.1, 18.6)]

West region produced more than 50,000 units each for the months of October and September

### Did the South Region ever produce 20,000 or fewer housing units in one month?

In [14]:
%%sql
SELECT * FROM housing_units
WHERE south <= 20

 * postgresql://postgres:***@localhost/portfolio
4 rows affected.

[(2011.0, 1.0, 'January', 17.3, 7.2, 6.3, 4.2),
 (2011.0, 5.0, 'May', 20.0, 11.1, 8.7, 5.6),
 (2012.0, 1.0, 'January', 18.8, 6.0, 5.8, 5.8),
 (2012.0, 2.0, 'February', 19.9, 7.4, 6.4, 5.3)]

In [15]:
%%sql
SELECT *
  FROM housing_units
 WHERE month_name > 'J'
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 1.0, 'January', 35.6, 17.0, 22.6, 12.9),
 (1968.0, 3.0, 'March', 42.5, 17.4, 24.4, 10.7),
 (1968.0, 5.0, 'May', 46.2, 20.0, 25.1, 20.0),
 (1968.0, 6.0, 'June', 37.7, 23.2, 26.9, 16.8),
 (1968.0, 7.0, 'July', 50.3, 21.2, 25.7, 20.1),
 (1968.0, 9.0, 'September', 48.7, 22.0, 37.9, 27.0),
 (1968.0, 10.0, 'October', 50.2, 23.0, 34.2, 20.5),
 (1968.0, 11.0, 'November', 45.7, 18.4, 35.8, 14.4),
 (1969.0, 1.0, 'January', 40.1, 19.7, 18.0, 11.0),
 (1969.0, 3.0, 'March', 53.3, 21.1, 23.5, 17.0)]

### A query that only shows rows for which the month name is February.

In [16]:
%%sql
SELECT * FROM housing_units
WHERE month_name = 'February'
LIMIT 5

 * postgresql://postgres:***@localhost/portfolio
5 rows affected.

[(1968.0, 2.0, 'February', 31.5, 18.6, 23.3, 9.7),
 (1969.0, 2.0, 'February', 34.8, 23.0, 23.3, 14.9),
 (1970.0, 2.0, 'February', 39.6, 24.5, 19.6, 13.2),
 (1971.0, 2.0, 'February', 45.1, 24.1, 14.3, 14.9),
 (1972.0, 2.0, 'February', 61.2, 35.8, 27.5, 19.0)]

In [17]:
%%sql
SELECT COUNT(month_name) FROM housing_units
WHERE month_name = 'February'

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(47,)]

### A query that only shows rows for which the month_name starts with the letter "N" or an earlier letter in the alphabet.

In [18]:
%%sql
SELECT * FROM housing_units
WHERE month_name < 'N'
LIMIT 5

 * postgresql://postgres:***@localhost/portfolio
5 rows affected.

[(1968.0, 1.0, 'January', 35.6, 17.0, 22.6, 12.9),
 (1968.0, 2.0, 'February', 31.5, 18.6, 23.3, 9.7),
 (1968.0, 3.0, 'March', 42.5, 17.4, 24.4, 10.7),
 (1968.0, 4.0, 'April', 42.9, 20.6, 27.0, 12.0),
 (1968.0, 5.0, 'May', 46.2, 20.0, 25.1, 20.0)]

## Arithmetic in SQL

In [19]:
%%sql
SELECT year, month, month_name, south, west, midwest+northeast AS MidwestNorth
FROM housing_units
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 1.0, 'January', 35.6, 17.0, 35.5),
 (1968.0, 2.0, 'February', 31.5, 18.6, 33.0),
 (1968.0, 3.0, 'March', 42.5, 17.4, 35.1),
 (1968.0, 4.0, 'April', 42.9, 20.6, 39.0),
 (1968.0, 5.0, 'May', 46.2, 20.0, 45.1),
 (1968.0, 6.0, 'June', 37.7, 23.2, 43.699997),
 (1968.0, 7.0, 'July', 50.3, 21.2, 45.800003),
 (1968.0, 8.0, 'August', 46.6, 23.1, 48.7),
 (1968.0, 9.0, 'September', 48.7, 22.0, 64.9),
 (1968.0, 10.0, 'October', 50.2, 23.0, 54.7)]

In [20]:
%%sql
SELECT year,
       month,
       west,
       south,
       west + south + 4 * year * 100 AS nonsense_column
  FROM housing_units
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 1.0, 17.0, 35.6, 787252.5999984741),
 (1968.0, 2.0, 18.6, 31.5, 787250.0999984741),
 (1968.0, 3.0, 17.4, 42.5, 787259.9000015259),
 (1968.0, 4.0, 20.6, 42.9, 787263.5),
 (1968.0, 5.0, 20.0, 46.2, 787266.1999969482),
 (1968.0, 6.0, 23.2, 37.7, 787260.9000015259),
 (1968.0, 7.0, 21.2, 50.3, 787271.5),
 (1968.0, 8.0, 23.1, 46.6, 787269.6999969482),
 (1968.0, 9.0, 22.0, 48.7, 787270.6999969482),
 (1968.0, 10.0, 23.0, 50.2, 787273.1999969482)]

### Calculates the sum of all four regions in a separate column.

In [21]:
%%sql
SELECT year AS "Year", month AS "Month", month_name AS "Month_name", south AS "South", west AS "West", midwest AS "Midwest", northeast AS Northeast, (south + west + midwest + northeast) AS Sum_of_Regions FROM housing_units
ORDER BY Sum_of_Regions
LIMIT 20

 * postgresql://postgres:***@localhost/portfolio
20 rows affected.

[(2011.0, 1.0, 'January', 17.3, 7.2, 6.3, 4.2, 35.0),
 (2012.0, 1.0, 'January', 18.8, 6.0, 5.8, 5.8, 36.399998),
 (2012.0, 2.0, 'February', 19.9, 7.4, 6.4, 5.3, 39.0),
 (2011.0, 2.0, 'February', 23.1, 8.1, 6.4, 4.4, 42.000004),
 (2011.0, 4.0, 'April', 21.9, 7.7, 7.4, 5.2, 42.2),
 (2011.0, 3.0, 'March', 25.4, 7.4, 6.5, 4.5, 43.8),
 (2012.0, 3.0, 'March', 22.1, 9.1, 8.4, 4.8, 44.399998),
 (2011.0, 5.0, 'May', 20.0, 11.1, 8.7, 5.6, 45.399998),
 (2010.0, 2.0, 'February', 23.0, 11.2, 5.7, 5.6, 45.5),
 (2010.0, 1.0, 'January', 21.2, 13.9, 5.5, 5.8, 46.399998),
 (2013.0, 1.0, 'January', 24.8, 12.5, 5.5, 4.6, 47.399998),
 (2010.0, 7.0, 'July', 23.8, 9.8, 8.8, 5.8, 48.199997),
 (2010.0, 11.0, 'November', 22.4, 8.4, 11.0, 6.5, 48.3),
 (2010.0, 3.0, 'March', 26.0, 12.5, 5.7, 4.4, 48.600002),
 (2013.0, 2.0, 'February', 26.4, 12.2, 7.1, 4.1, 49.799995),
 (2012.0, 5.0, 'May', 24.5, 10.1, 8.5, 6.8, 49.899998),
 (2011.0, 11.0, 'November', 26.0, 10.5, 8.8, 4.7, 50.0),
 (2011.0, 6.0, 'June', 24.6, 8.8, 9.6, 7.5, 50.5),
 (2011.0, 10.0, 'October', 25.6, 9.8, 9.0, 7.7, 52.100002),
 (2012.0, 4.0, 'April', 26.1, 11.9, 8.3, 6.1, 52.399998)]

In [22]:
%%sql
SELECT year,
       month,
       west,
       south,
       west + south - 4 * year AS nonsense_column
  FROM housing_units
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 1.0, 17.0, 35.6, -7819.400001525879),
 (1968.0, 2.0, 18.6, 31.5, -7821.900001525879),
 (1968.0, 3.0, 17.4, 42.5, -7812.099998474121),
 (1968.0, 4.0, 20.6, 42.9, -7808.5),
 (1968.0, 5.0, 20.0, 46.2, -7805.800003051758),
 (1968.0, 6.0, 23.2, 37.7, -7811.099998474121),
 (1968.0, 7.0, 21.2, 50.3, -7800.5),
 (1968.0, 8.0, 23.1, 46.6, -7802.300003051758),
 (1968.0, 9.0, 22.0, 48.7, -7801.300003051758),
 (1968.0, 10.0, 23.0, 50.2, -7798.800003051758)]

### Return all rows for which more units were produced in the West region than in the Midwest and Northeast combined.

In [23]:
%%sql
SELECT west, Midwest+Northeast AS Mid_and_North_Combined
FROM housing_units
WHERE west > (Midwest+Northeast)
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(32.2, 32.1),
 (41.2, 40.6),
 (42.5, 38.0),
 (35.4, 34.800003),
 (35.7, 34.5),
 (33.9, 29.199999),
 (22.1, 21.6),
 (25.3, 23.2),
 (17.3, 17.1),
 (15.1, 14.5)]

In [24]:
%%sql
SELECT *
FROM housing_units
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1968.0, 1.0, 'January', 35.6, 17.0, 22.6, 12.9),
 (1968.0, 2.0, 'February', 31.5, 18.6, 23.3, 9.7),
 (1968.0, 3.0, 'March', 42.5, 17.4, 24.4, 10.7),
 (1968.0, 4.0, 'April', 42.9, 20.6, 27.0, 12.0),
 (1968.0, 5.0, 'May', 46.2, 20.0, 25.1, 20.0),
 (1968.0, 6.0, 'June', 37.7, 23.2, 26.9, 16.8),
 (1968.0, 7.0, 'July', 50.3, 21.2, 25.7, 20.1),
 (1968.0, 8.0, 'August', 46.6, 23.1, 33.4, 15.3),
 (1968.0, 9.0, 'September', 48.7, 22.0, 37.9, 27.0),
 (1968.0, 10.0, 'October', 50.2, 23.0, 34.2, 20.5)]

### Calculates the percentage of all houses completed in the United States represented by each region. Only return results from the year 2000 and later.

In [25]:
%%sql
SELECT (SUM(south)/(SUM(south)+SUM(west)+SUM(midwest)+SUM(northeast)))*100 AS south_percentage, (SUM(west)/(SUM(south)+SUM(west)+SUM(midwest)+SUM(northeast)))*100 AS west_percentage, (SUM(midwest)/(SUM(south)+SUM(west)+SUM(midwest)+SUM(northeast)))*100 AS midwest_percentage, (SUM(northeast)/(SUM(south)+SUM(west)+SUM(midwest)+SUM(northeast)))*100 AS northeast_percentage

FROM housing_units
WHERE year >= 2000

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(47.94606864452362, 24.421729147434235, 18.069016933441162, 9.56319123506546)]

## Logical Operators
Here we make use of data from Billboard Music Charts, It was collected in January 2014 and contains data from 1956 to 2013, the results is the top 100 songs at the end of each year.

In [26]:
%%sql
SELECT *
FROM bill_board
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1956.0, 1.0, 'Elvis Presley', 'Elvis Presley', 'Heartbreak Hotel', 1),
 (1956.0, 2.0, 'Elvis Presley', 'Elvis Presley', "Don't Be Cruel", 2),
 (1956.0, 3.0, 'Nelson Riddle', 'Nelson Riddle', 'Lisbon Antigua', 3),
 (1956.0, 4.0, 'Platters', 'Platters', 'My Prayer', 4),
 (1956.0, 5.0, 'Gogi Grant', 'Gogi Grant', 'The Wayward Wind', 5),
 (1956.0, 6.0, 'Les Baxter', 'Les Baxter', 'The Poor People Of Paris', 6),
 (1956.0, 7.0, 'Doris Day', 'Doris Day', 'Whatever Will Be Will Be (Que Sera Sera)', 7),
 (1956.0, 8.0, 'Elvis Presley', 'Elvis Presley', 'Hound Dog', 8),
 (1956.0, 9.0, 'Dean Martin', 'Dean Martin', 'Memories Are Made Of This', 9),
 (1956.0, 10.0, 'Kay Starr', 'Kay Starr', 'Rock And Roll Waltz', 10)]

In [27]:
%%sql
SELECT *
FROM bill_board
ORDER BY year DESC, year_rank
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Pharrell', 'Blurred Lines', 6339),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'T.I.', 'Blurred Lines', 6338),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Robin Thicke', 'Blurred Lines', 6337),
 (2013.0, 3.0, 'Imagine Dragons', 'Imagine Dragons', 'Radioactive', 6340),
 (2013.0, 4.0, 'Baauer', 'Baauer', 'Harlem Shake', 6341),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Macklemore', "Can't Hold Us", 6342),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Ryan Lewis', "Can't Hold Us", 6343)]

### SQL LIKE
Logical operator in SQL that allows you to match on similar values rather than exact ones.
Where **LIKE** is case sensitive and **ILIKE** is not.

In [28]:
%%sql
SELECT * FROM bill_board
WHERE artist LIKE 'Michael%'
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1972.0, 20.0, 'Michael Jackson', 'Michael Jackson', 'Ben', 1637),
 (1972.0, 41.0, 'Michael Jackson', 'Michael Jackson', "Rockin' Robin", 1658),
 (1975.0, 39.0, 'Michael Murphy', 'Michael Murphy', 'Wildfire', 1965),
 (1978.0, 81.0, 'Michael Johnson', 'Michael Johnson', 'Bluer Than Blue', 2319),
 (1979.0, 91.0, 'Michael Jackson', 'Michael Jackson', "Don't Stop 'Til You Get Enough", 2432),
 (1980.0, 4.0, 'Michael Jackson', 'Michael Jackson', 'Rock With You', 2445),
 (1980.0, 65.0, 'Michael Jackson', 'Michael Jackson', "She's Out Of My Life", 2508),
 (1980.0, 79.0, 'Michael Jackson', 'Michael Jackson', 'Off The Wall', 2523),
 (1982.0, 81.0, 'Michael McDonald', 'Michael McDonald', "I Keep Forgettin'", 2741),
 (1982.0, 93.0, 'Michael Murphy', 'Michael Murphy', "What's Forever For", 2753)]

 #### A query that returns all rows for which Ludacris was a member of the group.

In [29]:
%%sql
SELECT * FROM bill_board
WHERE "group" ILIKE '%Ludacris%'
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2001.0, 77.0, 'Ludacris', 'Ludacris', 'Southern Hospitality', 4770),
 (2002.0, 55.0, 'Ludacris feat. Mystikal and Infamous 2.0', 'Ludacris', 'Move Bitch', 4880),
 (2002.0, 55.0, 'Ludacris feat. Mystikal and Infamous 2.0', 'Mystikal', 'Move Bitch', 4881),
 (2002.0, 55.0, 'Ludacris feat. Mystikal and Infamous 2.0', 'Infamous 2.0', 'Move Bitch', 4882),
 (2002.0, 77.0, 'Ludacris', 'Ludacris', 'Roll Out (My Business)', 4913),
 (2003.0, 43.0, 'Missy "Misdemeanor" Elliott feat. Ludacris', 'Missy "Misdemeanor" Elliott', 'Gossip Folks', 5007),
 (2003.0, 43.0, 'Missy "Misdemeanor" Elliott feat. Ludacris', 'Ludacris', 'Gossip Folks', 5008),
 (2003.0, 51.0, 'Ludacris feat. Shawnna', 'Ludacris', 'Stand Up', 5017),
 (2003.0, 51.0, 'Ludacris feat. Shawnna', 'Shawnna', 'Stand Up', 5018),
 (2003.0, 76.0, 'Chingy feat. Ludacris and Snoop Dogg', 'Chingy', 'Holidae In', 5052)]

#### A query that returns all rows for which the first artist listed in the group has a name that begins with "DJ".

In [30]:
%%sql
SELECT * FROM bill_board
WHERE "group" ILIKE 'dj%'

 * postgresql://postgres:***@localhost/portfolio
13 rows affected.

[(1997.0, 96.0, 'DJ Kool', 'DJ Kool', 'Let Me Clear My Throat', 4325),
 (2002.0, 31.0, 'DJ Sammy and Yanou feat. Do', 'DJ Sammy', 'Heaven', 4844),
 (2002.0, 31.0, 'DJ Sammy and Yanou feat. Do', 'Yanou', 'Heaven', 4845),
 (2002.0, 31.0, 'DJ Sammy and Yanou feat. Do', 'Do', 'Heaven', 4846),
 (2010.0, 79.0, 'DJ Khaled feat. T-Pain, Ludacris, Snoop Dogg and Rick Ross', 'DJ Khaled', 'All I Do Is Win', 6023),
 (2010.0, 79.0, 'DJ Khaled feat. T-Pain, Ludacris, Snoop Dogg and Rick Ross', 'T-Pain', 'All I Do Is Win', 6024),
 (2010.0, 79.0, 'DJ Khaled feat. T-Pain, Ludacris, Snoop Dogg and Rick Ross', 'Ludacris', 'All I Do Is Win', 6025),
 (2010.0, 79.0, 'DJ Khaled feat. T-Pain, Ludacris, Snoop Dogg and Rick Ross', 'Snoop Dogg', 'All I Do Is Win', 6026),
 (2010.0, 79.0, 'DJ Khaled feat. T-Pain, Ludacris, Snoop Dogg and Rick Ross', 'Rick Ross', 'All I Do Is Win', 6027),
 (2011.0, 47.0, 'DJ Khaled feat. Drake, Rick Ross and Lil Wayne', 'DJ Khaled', "I'm On One", 6123),
 (2011.0, 47.0, 'DJ Khaled feat. Drake, Rick Ross and Lil Wayne', 'Drake', "I'm On One", 6124),
 (2011.0, 47.0, 'DJ Khaled feat. Drake, Rick Ross and Lil Wayne', 'Rick Ross', "I'm On One", 6125),
 (2011.0, 47.0, 'DJ Khaled feat. Drake, Rick Ross and Lil Wayne', 'Lil Wayne', "I'm On One", 6126)]

### SQL IN 
This allows one to specify a list of values that you'd like to include in the results.

In [31]:
%%sql
SELECT * FROM bill_board
WHERE year_rank IN (100)
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1956.0, 100.0, 'Blue Stars', 'Blue Stars', 'Lullaby of Birdland', 103),
 (1957.0, 100.0, 'Joe Bennett and the Sparkletones', 'Joe Bennett and the Sparkletones', 'Black Slacks', 203),
 (1958.0, 100.0, 'Frankie Avalon', 'Frankie Avalon', 'Ginger Bread', 304),
 (1959.0, 100.0, 'Paul Evans and The Curls', 'Paul Evans and The Curls', '(Seven Little Girls) Sitting In The Back Seat', 406),
 (1960.0, 100.0, 'Larry Hall', 'Larry Hall', 'Sandy', 508),
 (1961.0, 100.0, 'Drifters', 'Drifters', 'Please Stay', 608),
 (1962.0, 100.0, 'Beach Boys', 'Beach Boys', "Surfin' Safari", 708),
 (1963.0, 100.0, 'Del Shannon', 'Del Shannon', 'Little Town Flirt', 809),
 (1964.0, 100.0, 'Searchers', 'Searchers', 'Needles And Pins', 911),
 (1965.0, 100.0, 'Marvin Gaye', 'Marvin Gaye', 'How Sweet It Is (To Be Loved By You)', 1011)]

In [32]:
%%sql
SELECT * FROM bill_board
WHERE year IN (2012,2013)
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2012.0, 1.0, 'Gotye feat. Kimbra', 'Gotye', 'Somebody That I Used To Know', 6203),
 (2012.0, 1.0, 'Gotye feat. Kimbra', 'Kimbra', 'Somebody That I Used To Know', 6204),
 (2012.0, 2.0, 'Carly Rae Jepsen', 'Carly Rae Jepsen', 'Call Me Maybe', 6205),
 (2012.0, 3.0, 'fun. feat. Janelle Monae', 'fun.', 'We Are Young', 6206),
 (2012.0, 3.0, 'fun. feat. Janelle Monae', 'Janelle Monae', 'We Are Young', 6207),
 (2012.0, 4.0, 'Maroon 5 feat. Wiz Khalifa', 'Maroon 5', 'Payphone', 6208),
 (2012.0, 4.0, 'Maroon 5 feat. Wiz Khalifa', 'Wiz Khalifa', 'Payphone', 6209),
 (2012.0, 5.0, 'Ellie Goulding', 'Ellie Goulding', 'Lights', 6210),
 (2012.0, 6.0, 'The Wanted', 'The Wanted', 'Glad You Came', 6211),
 (2012.0, 7.0, 'Kelly Clarkson', 'Kelly Clarkson', "Stronger (What Doesn't Kill You)", 6212)]

In [33]:
%%sql
SELECT *
FROM bill_board
WHERE artist IN ('Taylor Swift', 'Usher', 'Ludacris')
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1997.0, 14.0, 'Usher', 'Usher', 'You Make Me Wanna...', 4236),
 (1998.0, 9.0, 'Usher', 'Usher', 'Nice and Slow', 4338),
 (1998.0, 15.0, 'Usher', 'Usher', 'You Make Me Wanna...', 4344),
 (1998.0, 16.0, 'Usher', 'Usher', 'My Way', 4345),
 (2001.0, 15.0, 'Usher', 'Usher', 'U Remind Me', 4695),
 (2001.0, 77.0, 'Ludacris', 'Ludacris', 'Southern Hospitality', 4770),
 (2002.0, 9.0, 'Usher', 'Usher', 'U Got it Bad', 4810),
 (2002.0, 15.0, 'P. Diddy feat. Usher and Loon', 'Usher', 'I Need a Girl (Part One)', 4819),
 (2002.0, 16.0, 'Usher', 'Usher', "U Don't have to Call", 4821),
 (2002.0, 55.0, 'Ludacris feat. Mystikal and Infamous 2.0', 'Ludacris', 'Move Bitch', 4880)]

#### A query that shows all of the entries for Elvis and M.C. Hammer.

In [34]:
%%sql
SELECT * FROM bill_board
WHERE "group" IN ('M.C. Hammer', 'Elvis Presley')
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1956.0, 1.0, 'Elvis Presley', 'Elvis Presley', 'Heartbreak Hotel', 1),
 (1956.0, 2.0, 'Elvis Presley', 'Elvis Presley', "Don't Be Cruel", 2),
 (1956.0, 8.0, 'Elvis Presley', 'Elvis Presley', 'Hound Dog', 8),
 (1956.0, 14.0, 'Elvis Presley', 'Elvis Presley', 'I Want You, I Need You, I Love You', 14),
 (1956.0, 15.0, 'Elvis Presley', 'Elvis Presley', 'Love Me Tender', 15),
 (1957.0, 1.0, 'Elvis Presley', 'Elvis Presley', 'All Shook Up', 104),
 (1957.0, 9.0, 'Elvis Presley', 'Elvis Presley', 'Too Much', 112),
 (1957.0, 14.0, 'Elvis Presley', 'Elvis Presley', 'Teddy Bear / Loving You', 117),
 (1957.0, 16.0, 'Elvis Presley', 'Elvis Presley', 'Jailhouse Rock', 119),
 (1957.0, 56.0, 'Elvis Presley', 'Elvis Presley', 'Love Me', 159)]

### SQL BETWEEN

A logical operator in SQL that allows one to select only rows that are within a specific range

In [35]:
%%sql
SELECT * FROM bill_board
WHERE year_rank BETWEEN 5 AND 10
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1956.0, 5.0, 'Gogi Grant', 'Gogi Grant', 'The Wayward Wind', 5),
 (1956.0, 6.0, 'Les Baxter', 'Les Baxter', 'The Poor People Of Paris', 6),
 (1956.0, 7.0, 'Doris Day', 'Doris Day', 'Whatever Will Be Will Be (Que Sera Sera)', 7),
 (1956.0, 8.0, 'Elvis Presley', 'Elvis Presley', 'Hound Dog', 8),
 (1956.0, 9.0, 'Dean Martin', 'Dean Martin', 'Memories Are Made Of This', 9),
 (1956.0, 10.0, 'Kay Starr', 'Kay Starr', 'Rock And Roll Waltz', 10),
 (1957.0, 5.0, 'Jimmy Dorsey', 'Jimmy Dorsey', 'So Rare', 108),
 (1957.0, 6.0, 'Pat Boone', 'Pat Boone', "Don't Forbid Me", 109),
 (1957.0, 7.0, 'Guy Mitchell', 'Guy Mitchell', 'Singing The Blues', 110),
 (1957.0, 8.0, 'Sonny James', 'Sonny James', 'Young Love', 111)]

#### A query that shows all top 100 songs from January 1, 1985 through December 31, 1990.

In [36]:
%%sql
SELECT * FROM bill_board
WHERE year BETWEEN 1985 AND 1990
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1985.0, 1.0, 'Wham!', 'Wham!', 'Careless Whisper', 2977),
 (1985.0, 2.0, 'Madonna', 'Madonna', 'Like A Virgin', 2978),
 (1985.0, 3.0, 'Wham!', 'Wham!', 'Wake Me Up Before You Go-Go', 2979),
 (1985.0, 4.0, 'Foreigner', 'Foreigner', 'I Want To Know What Love Is', 2980),
 (1985.0, 5.0, 'Chaka Khan', 'Chaka Khan', 'I Feel For You', 2981),
 (1985.0, 6.0, 'Daryl Hall and John Oates', 'Daryl Hall', 'Out Of Touch', 2982),
 (1985.0, 6.0, 'Daryl Hall and John Oates', 'John Oates', 'Out Of Touch', 2983),
 (1985.0, 7.0, 'Tears For Fears', 'Tears For Fears', 'Everybody Wants To Rule The World', 2984),
 (1985.0, 8.0, 'Dire Straits', 'Dire Straits', 'Money For Nothing', 2985),
 (1985.0, 9.0, 'Madonna', 'Madonna', 'Crazy For You', 2986)]

### SQL IS NULL

In [37]:
%%sql
SELECT * FROM bill_board
WHERE artist IS NULL

 * postgresql://postgres:***@localhost/portfolio
9 rows affected.

[(1959.0, 4.0, 'Frankie Avalon', None, 'Venus', 308),
 (1960.0, 20.0, 'Roy Orbison', None, 'Only The Lonely', 426),
 (1961.0, 85.0, 'Paul Anka', None, 'Tonight My Love, Tonight', 593),
 (1962.0, 77.0, 'Rick Nelson', None, 'Teen Age Idol', 685),
 (1985.0, 24.0, 'Bryan Adams', None, 'Heaven', 3002),
 (1991.0, 42.0, 'Whitney Houston', None, "I'm Your Baby Tonight", 3642),
 (1997.0, 89.0, 'Michael Bolton', None, 'Go The Distance', 4318),
 (2005.0, 42.0, 'Chris Brown', None, 'Run It!', 5280),
 (2009.0, 94.0, 'Zac Brown Band', None, 'Whatever It Is', 5898)]

WHERE artist = NULL will not work—you can't perform arithmetic on null values.

#### A query that shows all of the rows for which song_name is null.

In [38]:
%%sql
SELECT * FROM bill_board
WHERE song_name IS NULL

 * postgresql://postgres:***@localhost/portfolio
6 rows affected.

[(1961.0, 18.0, 'Connie Francis', 'Connie Francis', None, 526),
 (1962.0, 79.0, 'Larry Finnegan', 'Larry Finnegan', None, 687),
 (1963.0, 97.0, 'Beach Boys', 'Beach Boys', None, 806),
 (1974.0, 79.0, 'Mike Oldfield', 'Mike Oldfield', None, 1903),
 (1997.0, 86.0, 'Brian McKnight feat. Mase', 'Mase', None, 4315),
 (2011.0, 87.0, 'Jason Derulo', 'Jason Derulo', None, 6183)]

### SQL AND

In [39]:
%%sql
SELECT * FROM bill_board
WHERE year = 2012 and year_rank <=10 and "group" ILIKE '%kha%'

 * postgresql://postgres:***@localhost/portfolio
2 rows affected.

[(2012.0, 4.0, 'Maroon 5 feat. Wiz Khalifa', 'Maroon 5', 'Payphone', 6208),
 (2012.0, 4.0, 'Maroon 5 feat. Wiz Khalifa', 'Wiz Khalifa', 'Payphone', 6209)]

#### A query that surfaces all rows for top-10 hits for which Ludacris is part of the Group.

In [40]:
%%sql
SELECT * FROM bill_board
WHERE year_rank <= 10 AND "group" ILIKE '%ludacris%'

 * postgresql://postgres:***@localhost/portfolio
7 rows affected.

[(2004.0, 1.0, 'Usher feat. Lil Jon and Ludacris', 'Usher', 'Yeah!', 5082),
 (2004.0, 1.0, 'Usher feat. Lil Jon and Ludacris', 'Lil Jon', 'Yeah!', 5083),
 (2004.0, 1.0, 'Usher feat. Lil Jon and Ludacris', 'Ludacris', 'Yeah!', 5084),
 (2007.0, 10.0, 'Fergie feat. Ludacris', 'Fergie', 'Glamorous', 5508),
 (2007.0, 10.0, 'Fergie feat. Ludacris', 'Ludacris', 'Glamorous', 5509),
 (2010.0, 10.0, 'Taio Cruz feat. Ludacris', 'Taio Cruz', 'Break Your Heart', 5922),
 (2010.0, 10.0, 'Taio Cruz feat. Ludacris', 'Ludacris', 'Break Your Heart', 5923)]

#### A query that surfaces the top-ranked records in 1990, 2000, and 2010.

In [41]:
%%sql
SELECT * FROM bill_board
WHERE year_rank = 1 and year IN (1990, 2000, 2010)

 * postgresql://postgres:***@localhost/portfolio
3 rows affected.

[(1990.0, 1.0, 'Wilson Phillips', 'Wilson Phillips', 'Hold On', 3498),
 (2000.0, 1.0, 'Faith Hill', 'Faith Hill', 'Breathe', 4563),
 (2010.0, 1.0, 'Ke$ha', 'Ke$ha', 'TiK ToK', 5909)]

#### A query that lists all songs from the 1960s with "love" in the title.

In [42]:
%%sql
SELECT * FROM bill_board
WHERE song_name ILIKE '%love' AND year >= 1960
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1960.0, 23.0, 'Paul Anka', 'Paul Anka', 'Puppy Love', 429),
 (1960.0, 45.0, 'Johnny Preston', 'Johnny Preston', 'Cradle Of Love', 452),
 (1960.0, 65.0, 'Marv Johnson', 'Marv Johnson', 'I Love The Way You Love', 472),
 (1961.0, 14.0, 'Shirelles', 'Shirelles', 'Dedicated To The One I Love', 522),
 (1961.0, 30.0, 'Steve Lawrence', 'Steve Lawrence', 'Portrait Of My Love', 538),
 (1962.0, 57.0, 'Elvis Presley', 'Elvis Presley', "Can't Help Falling In Love", 665),
 (1962.0, 96.0, 'Eddie Hodges', 'Eddie Hodges', '(Girls, Girls, Girls) Were Made To Love', 704),
 (1963.0, 15.0, 'Tymes', 'Tymes', 'So Much In Love', 723),
 (1963.0, 63.0, 'Bill Pursell', 'Bill Pursell', 'Our Winter Love', 772),
 (1964.0, 21.0, 'Dixie Cups', 'Dixie Cups', 'Chapel Of Love', 830)]

### SQL OR
A logical operator in SQL that allows one to select rows that satisfy either of two conditions

In [43]:
%%sql
SELECT *
  FROM bill_board
 WHERE year_rank = 5 OR artist = 'Gotye'
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1956.0, 5.0, 'Gogi Grant', 'Gogi Grant', 'The Wayward Wind', 5),
 (1957.0, 5.0, 'Jimmy Dorsey', 'Jimmy Dorsey', 'So Rare', 108),
 (1958.0, 5.0, 'Perez Prado', 'Perez Prado', 'Patricia', 208),
 (1959.0, 5.0, 'Paul Anka', 'Paul Anka', 'Lonely Boy', 309),
 (1960.0, 5.0, 'Mark Dinning', 'Mark Dinning', 'Teen Angel', 411),
 (1961.0, 5.0, 'Del Shannon', 'Del Shannon', 'Runaway', 513),
 (1962.0, 5.0, 'David Rose', 'David Rose', 'The Stripper', 613),
 (1963.0, 5.0, 'Chiffons', 'Chiffons', "He's So Fine", 713),
 (1964.0, 5.0, 'Beach Boys', 'Beach Boys', 'I Get Around', 814),
 (1965.0, 5.0, 'Righteous Brothers', 'Righteous Brothers', "You've Lost That Lovin' Feelin'", 916)]

#### A query that returns all rows for top-10 songs that featured either Katy Perry or Bon Jovi.

In [44]:
%%sql
SELECT * FROM bill_board
WHERE year_rank <= 10 AND (artist ILIKE '%katy%' OR  artist ILIKE '%jovi%')

 * postgresql://postgres:***@localhost/portfolio
6 rows affected.

[(1987.0, 10.0, 'Bon Jovi', 'Bon Jovi', "Livin' On A Prayer", 3193),
 (1990.0, 10.0, 'Jon Bon Jovi', 'Jon Bon Jovi', 'Blaze Of Glory', 3507),
 (2010.0, 4.0, 'Katy Perry feat. Snoop Dogg', 'Katy Perry', 'California Gurls', 5912),
 (2011.0, 3.0, 'Katy Perry', 'Katy Perry', 'Firework', 6060),
 (2011.0, 4.0, 'Katy Perry feat. Kanye West', 'Katy Perry', 'E.T.', 6061),
 (2013.0, 10.0, 'Katy Perry', 'Katy Perry', 'Roar', 6351)]

#### A query that returns all songs with titles that contain the word "California" in either the 1970s or 1990s.

In [45]:
%%sql
SELECT * FROM bill_board
WHERE song_name ILIKE '%california%' AND (year BETWEEN 1970 AND 1979 OR year BETWEEN 1990 AND 1999)

 * postgresql://postgres:***@localhost/portfolio
3 rows affected.

[(1973.0, 98.0, 'Albert Hammond', 'Albert Hammond', 'It Never Rains In Southern California', 1820),
 (1977.0, 19.0, 'Eagles', 'Eagles', 'Hotel California', 2151),
 (1996.0, 17.0, '2Pac', '2Pac', 'How Do U Want It / California Love', 4133)]

#### A query that lists all top-100 recordings that feature Dr. Dre before 2001 or after 2009.

In [46]:
%%sql
SELECT * FROM bill_board
WHERE year_rank <= 100 AND artist ILIKE '%dr. dre%' AND (year <= 2001 OR year >= 2009)

 * postgresql://postgres:***@localhost/portfolio
9 rows affected.

[(1993.0, 11.0, 'Dr. Dre', 'Dr. Dre', 'Nuthin\' But A "G" Thang', 3815),
 (1993.0, 53.0, 'Dr. Dre', 'Dr. Dre', 'Dre Day', 3860),
 (1995.0, 53.0, 'Dr. Dre', 'Dr. Dre', "Keep Their Heads Ringin'", 4066),
 (1996.0, 42.0, 'BLACKstreet (feat. Dr. Dre)', 'BLACKstreet (feat. Dr. Dre)', 'No Diggity', 4159),
 (1997.0, 23.0, 'BLACKstreet feat. Dr. Dre', 'Dr. Dre', 'No Diggity', 4247),
 (2000.0, 73.0, 'Dr. Dre feat. Eminem', 'Dr. Dre', 'Forget About Dre', 4644),
 (2000.0, 76.0, 'Dr. Dre feat. Snoop Dogg', 'Dr. Dre', 'The Next Episode', 4648),
 (2009.0, 47.0, 'Eminem, Dr. Dre and 50 Cent', 'Dr. Dre', 'Crack A Bottle', 5838),
 (2011.0, 51.0, 'Dr. Dre feat. Eminem and Skylar Grey', 'Dr. Dre', 'I Need A Doctor', 6132)]

### SQL NOT
The NOT operator displays a record if the condition(s) is NOT TRUE

In [47]:
%%sql
SELECT * FROM bill_board
WHERE year = 2013 AND year_rank BETWEEN 0 AND 50

 * postgresql://postgres:***@localhost/portfolio
81 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Robin Thicke', 'Blurred Lines', 6337),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'T.I.', 'Blurred Lines', 6338),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Pharrell', 'Blurred Lines', 6339),
 (2013.0, 3.0, 'Imagine Dragons', 'Imagine Dragons', 'Radioactive', 6340),
 (2013.0, 4.0, 'Baauer', 'Baauer', 'Harlem Shake', 6341),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Macklemore', "Can't Hold Us", 6342),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Ryan Lewis', "Can't Hold Us", 6343),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Ray Dalton', "Can't Hold Us", 6344),
 (2013.0, 6.0, 'Justin Timberlake', 'Justin Timberlake', 'Mirrors', 6345),
 (2013.0, 7.0, 'P!nk feat. Nate Ruess', 'P!nk', 'Just Give Me A Reason', 6346),
 (2013.0, 7.0, 'P!nk feat. Nate Ruess', 'Nate Ruess', 'Just Give Me A Reason', 6347),
 (2013.0, 8.0, 'Bruno Mars', 'Bruno Mars', 'When I Was Your Man', 6348),
 (2013.0, 9.0, 'Florida Georgia Line feat. Nelly', 'Florida Georgia Line', 'Cruise', 6349),
 (2013.0, 9.0, 'Florida Georgia Line feat. Nelly', 'Nelly', 'Cruise', 6350),
 (2013.0, 10.0, 'Katy Perry', 'Katy Perry', 'Roar', 6351),
 (2013.0, 11.0, 'Bruno Mars', 'Bruno Mars', 'Locked Out Of Heaven', 6352),
 (2013.0, 12.0, 'Lumineers', 'Lumineers', 'Ho Hey', 6353),
 (2013.0, 13.0, 'Rihanna feat. Mikky Ekko', 'Rihanna', 'Stay', 6354),
 (2013.0, 13.0, 'Rihanna feat. Mikky Ekko', 'Mikky Ekko', 'Stay', 6355),
 (2013.0, 14.0, 'Daft Punk feat. Pharrell Williams', 'Daft Punk', 'Get Lucky', 6356),
 (2013.0, 14.0, 'Daft Punk feat. Pharrell Williams', 'Pharrell Williams', 'Get Lucky', 6357),
 (2013.0, 15.0, 'Lorde', 'Lorde', 'Royals', 6358),
 (2013.0, 16.0, 'Taylor Swift', 'Taylor Swift', 'I Knew You Were Trouble', 6359),
 (2013.0, 17.0, 'Miley Cyrus', 'Miley Cyrus', "We Can't Stop", 6360),
 (2013.0, 18.0, 'Miley Cyrus', 'Miley Cyrus', 'Wrecking Ball', 6361),
 (2013.0, 19.0, 'Avicii', 'Avicii', 'Wake Me Up!', 6362),
 (2013.0, 20.0, 'Justin Timberlake feat. Jay Z', 'Justin Timberlake', 'Suit and Tie', 6363),
 (2013.0, 20.0, 'Justin Timberlake feat. Jay Z', 'Jay Z', 'Suit and Tie', 6364),
 (2013.0, 21.0, 'Anna Kendrick', 'Anna Kendrick', "Cups (Pitch Perfect's When I'm Gone)", 6365),
 (2013.0, 22.0, 'Jay Z feat. Justin Timberlake', 'Jay Z', 'Holy Grail', 6366),
 (2013.0, 22.0, 'Jay Z feat. Justin Timberlake', 'Justin Timberlake', 'Holy Grail', 6367),
 (2013.0, 23.0, 'will.i.am and Britney Spears', 'will.i.am', 'Scream and Shout', 6368),
 (2013.0, 23.0, 'will.i.am and Britney Spears', 'Britney Spears', 'Scream and Shout', 6369),
 (2013.0, 24.0, 'Zedd feat. Foxes', 'Zedd', 'Clarity', 6370),
 (2013.0, 24.0, 'Zedd feat. Foxes', 'Foxes', 'Clarity', 6371),
 (2013.0, 25.0, 'AWOLNATION', 'AWOLNATION', 'Sail', 6372),
 (2013.0, 26.0, 'Swedish House Mafia feat. John Martin', 'Swedish House Mafia', "Don't You Worry Child", 6373),
 (2013.0, 26.0, 'Swedish House Mafia feat. John Martin', 'John Martin', "Don't You Worry Child", 6374),
 (2013.0, 27.0, 'Rihanna', 'Rihanna', 'Diamonds', 6375),
 (2013.0, 28.0, 'Icona Pop feat. Charli XCX', 'Icona Pop', 'I Love It', 6376),
 (2013.0, 28.0, 'Icona Pop feat. Charli XCX', 'Charli XCX', 'I Love It', 6377),
 (2013.0, 29.0, 'Capital Cities', 'Capital Cities', 'Safe And Sound', 6378),
 (2013.0, 30.0, 'Bruno Mars', 'Bruno Mars', 'Treasure', 6379),
 (2013.0, 31.0, 'Ariana Grande feat. Mac Miller', 'Ariana Grande', 'The Way', 6380),
 (2013.0, 31.0, 'Ariana Grande feat. Mac Miller', 'Mac Miller', 'The Way', 6381),
 (2013.0, 32.0, 'Drake', 'Drake', 'Started From The Bottom', 6382),
 (2013.0, 33.0, 'Selena Gomez', 'Selena Gomez', 'Come and Get It', 6383),
 (2013.0, 34.0, 'Drake feat. Majid Jordan', 'Drake', "Hold On, We're Going Home", 6384),
 (2013.0, 34.0, 'Drake feat. Majid Jordan', 'Majid Jordan', "Hold On, We're Going Home", 6385),
 (2013.0, 35.0, 'Maroon 5', 'Maroon 5', 'Daylight', 6386),
 (2013.0, 36.0, 'Pitbull feat. Christina Aguilera', 'Pitbull', 'Feel This Moment', 6387),
 (2013.0, 36.0, 'Pitbull feat. Christina Aguilera', 'Christina Aguilera', 'Feel This Moment', 6388),
 (2013.0, 37.0, 'Lady Gaga', 'Lady Gaga', 'Applause', 6389),
 (2013.0, 38.0, 'Maroon 5', 'Maroon 5', 'One More Night', 6390),
 (2013.0, 39.0, 'Lil Wayne feat. Drake and Future', 'Lil Wayne', 'Love Me', 6391),
 (2013.0, 39.0, 'Lil Wayne feat. Drake and Future', 'Drake', 'Love Me', 6392),
 (2013.0, 39.0, 'Lil Wayne feat. Drake and Future', 'Future', 'Love Me', 6393),
 (2013.0, 40.0, 'Fall Out Boy', 'Fall Out Boy', 'My Songs Know What You Did In The Dark (Light Em Up)', 6394),
 (2013.0, 41.0, 'A$AP Rocky feat. Drake, 2 Chainz and Kendrick Lamar', 'A$AP Rocky', 'F**kin Problems', 6395),
 (2013.0, 41.0, 'A$AP Rocky feat. Drake, 2 Chainz and Kendrick Lamar', 'Drake', 'F**kin Problems', 6396),
 (2013.0, 41.0, 'A$AP Rocky feat. Drake, 2 Chainz and Kendrick Lamar', '2 Chainz', 'F**kin Problems', 6397),
 (2013.0, 41.0, 'A$AP Rocky feat. Drake, 2 Chainz and Kendrick Lamar', 'Kendrick Lamar', 'F**kin Problems', 6398),
 (2013.0, 42.0, 'Justin Bieber feat. Nicki Minaj', 'Justin Bieber', 'Beauty And A Beat', 6399),
 (2013.0, 42.0, 'Justin Bieber feat. Nicki Minaj', 'Nicki Minaj', 'Beauty And A Beat', 6400),
 (2013.0, 43.0, 'Macklemore and Ryan Lewis feat. Mary Lambert', 'Macklemore', 'Same Love', 6401),
 (2013.0, 43.0, 'Macklemore and Ryan Lewis feat. Mary Lambert', 'Ryan Lewis', 'Same Love', 6402),
 (2013.0, 43.0, 'Macklemore and Ryan Lewis feat. Mary Lambert', 'Mary Lambert', 'Same Love', 6403),
 (2013.0, 44.0, 'Calvin Harris feat. Florence Welch', 'Calvin Harris', 'Sweet Nothing', 6404),
 (2013.0, 44.0, 'Calvin Harris feat. Florence Welch', 'Florence Welch', 'Sweet Nothing', 6405),
 (2013.0, 45.0, 'Lana Del Rey and Cedric Gervais', 'Lana Del Rey', 'Summertime Sadness', 6406),
 (2013.0, 45.0, 'Lana Del Rey and Cedric Gervais', 'Cedric Gervais', 'Summertime Sadness', 6407),
 (2013.0, 46.0, 'Phillip Phillips', 'Phillip Phillips', 'Home', 6408),
 (2013.0, 47.0, 'Imagine Dragons', 'Imagine Dragons', "It's Time", 6409),
 (2013.0, 48.0, 'J. Cole feat. Miguel', 'J. Cole', 'Power Trip', 6410),
 (2013.0, 48.0, 'J. Cole feat. Miguel', 'Miguel', 'Power Trip', 6411),
 (2013.0, 49.0, 'Alicia Keys feat. Nicki Minaj', 'Alicia Keys', 'Girl On Fire', 6412),
 (2013.0, 49.0, 'Alicia Keys feat. Nicki Minaj', 'Nicki Minaj', 'Girl On Fire', 6413),
 (2013.0, 50.0, 'Demi Lovato', 'Demi Lovato', 'Heart Attack', 6414)]

In [48]:
%%sql
SELECT * FROM bill_board
WHERE year = 2013 AND year_rank NOT BETWEEN 0 AND 50

 * postgresql://postgres:***@localhost/portfolio
62 rows affected.

[(2013.0, 51.0, 'Maroon 5', 'Maroon 5', 'Love Somebody', 6415),
 (2013.0, 52.0, 'Mumford and Sons', 'Mumford and Sons', 'I Will Wait', 6416),
 (2013.0, 53.0, 'P!nk', 'P!nk', 'Try', 6417),
 (2013.0, 54.0, 'Darius Rucker', 'Darius Rucker', 'Wagon Wheel', 6418),
 (2013.0, 55.0, 'Psy', 'Psy', 'Gangnam Style', 6419),
 (2013.0, 56.0, 'Calvin Harris feat. Ellie Goulding', 'Calvin Harris', 'I Need Your Love', 6420),
 (2013.0, 56.0, 'Calvin Harris feat. Ellie Goulding', 'Ellie Goulding', 'I Need Your Love', 6421),
 (2013.0, 57.0, 'Ke$ha', 'Ke$ha', 'Die Young', 6422),
 (2013.0, 58.0, 'fun.', 'fun.', 'Some Nights', 6423),
 (2013.0, 59.0, 'Wale feat. Tiara Thomas or Rihanna', 'Wale', 'Bad', 6424),
 (2013.0, 59.0, 'Wale feat. Tiara Thomas or Rihanna', 'Tiara Thomas', 'Bad', 6425),
 (2013.0, 59.0, 'Wale feat. Tiara Thomas or Rihanna', 'Rihanna', 'Bad', 6426),
 (2013.0, 60.0, 'Blake Shelton feat. Pistol Annies and Friends', 'Blake Shelton', "Boys 'Round Here", 6427),
 (2013.0, 60.0, 'Blake Shelton feat. Pistol Annies and Friends', 'Piston Annies', "Boys 'Round Here", 6428),
 (2013.0, 61.0, 'Phillip Phillips', 'Phillip Phillips', 'Gone, Gone, Gone', 6429),
 (2013.0, 62.0, 'Imagine Dragons', 'Imagine Dragons', 'Demons', 6430),
 (2013.0, 63.0, 'OneRepublic', 'OneRepublic', 'Counting Stars', 6431),
 (2013.0, 64.0, 'Flo Rida', 'Flo Rida', 'I Cry', 6432),
 (2013.0, 65.0, 'Of Monsters And Men', 'Of Monsters And Men', 'Little Talks', 6433),
 (2013.0, 66.0, 'Jason Derulo', 'Jason Derulo', 'The Other Side', 6434),
 (2013.0, 67.0, 'Eminem', 'Eminem', 'Berzerk', 6435),
 (2013.0, 68.0, 'Kelly Clarkson', 'Kelly Clarkson', 'Catch My Breath', 6436),
 (2013.0, 69.0, 'Luke Bryan', 'Luke Bryan', 'Crash My Party', 6437),
 (2013.0, 70.0, 'Rihanna', 'Rihanna', 'Pour It Up', 6438),
 (2013.0, 71.0, 'Taylor Swift', 'Taylor Swift', '22', 6439),
 (2013.0, 72.0, 'Hunter Hayes', 'Hunter Hayes', 'I Want Crazy', 6440),
 (2013.0, 73.0, 'Ylvis', 'Ylvis', 'The Fox', 6441),
 (2013.0, 74.0, 'One Direction', 'One Direction', 'Best Song Ever', 6442),
 (2013.0, 75.0, 'Ed Sheeran', 'Ed Sheeran', 'The A Team', 6443),
 (2013.0, 76.0, 'fun.', 'fun.', 'Carry On', 6444),
 (2013.0, 77.0, 'Tim McGraw with Taylor Swift', 'Tim McGraw with Taylor Swift', "Highway Don't Care", 6445),
 (2013.0, 78.0, 'Luke Bryan', 'Luke Bryan', "That's My Kind Of Night", 6446),
 (2013.0, 79.0, 'Kendrick Lamar', 'Kendrick Lamar', 'Swimming Pools (Drank)', 6447),
 (2013.0, 80.0, 'Blake Shelton', 'Blake Shelton', 'Sure Be Cool If You Did', 6448),
 (2013.0, 81.0, 'Mariah Carey feat. Miguel', 'Mariah Carey', '#Beautiful', 6449),
 (2013.0, 81.0, 'Mariah Carey feat. Miguel', 'Miguel', '#Beautiful', 6450),
 (2013.0, 82.0, 'Olly Murs feat. Flo Rida', 'Olly Murs', 'Troublemaker', 6451),
 (2013.0, 82.0, 'Olly Murs feat. Flo Rida', 'Flo Rida', 'Troublemaker', 6452),
 (2013.0, 83.0, 'Ciara', 'Ciara', 'Body Party', 6453),
 (2013.0, 84.0, 'Miguel', 'Miguel', 'Adorn', 6454),
 (2013.0, 85.0, 'The Script feat. will.i.am', 'The Script', 'Hall Of Fame', 6455),
 (2013.0, 85.0, 'The Script feat. will.i.am', 'will.i.am', 'Hall Of Fame', 6456),
 (2013.0, 86.0, 'Ne-Yo', 'Ne-Yo', 'Let Me Love You (Until You Learn To Love Yourself)', 6457),
 (2013.0, 87.0, 'Rocko feat. Future and Rick Ross', 'Rocko', 'U.O.E.N.O.', 6458),
 (2013.0, 87.0, 'Rocko feat. Future and Rick Ross', 'Future', 'U.O.E.N.O.', 6459),
 (2013.0, 87.0, 'Rocko feat. Future and Rick Ross', 'Rick Ross', 'U.O.E.N.O.', 6460),
 (2013.0, 88.0, 'Emeli Sande', 'Emeli Sande', 'Next To Me', 6461),
 (2013.0, 89.0, 'Miranda Lambert', 'Miranda Lambert', "Mama's Broken Heart", 6462),
 (2013.0, 90.0, 'Thomas Rhett', 'Thomas Rhett', 'It Goes Like This', 6463),
 (2013.0, 91.0, 'Ace Hood feat. Future and Rick Ross', 'Ace Hood', 'Bugatti', 6464),
 (2013.0, 91.0, 'Ace Hood feat. Future and Rick Ross', 'Future', 'Bugatti', 6465),
 (2013.0, 91.0, 'Ace Hood feat. Future and Rick Ross', 'Rick Ross', 'Bugatti', 6466),
 (2013.0, 92.0, 'Hunter Hayes', 'Hunter Hayes', 'Wanted', 6467),
 (2013.0, 93.0, 'Lady Antebellum', 'Lady Antebellum', 'Downtown', 6468),
 (2013.0, 94.0, 'Florida Georgia Line', 'Florida Georgia Line', 'Get Your Shine On', 6469),
 (2013.0, 95.0, 'will.i.am feat. Justin Bieber', 'will.i.am', '#thatPOWER', 6470),
 (2013.0, 95.0, 'will.i.am feat. Justin Bieber', 'Justin Bieber', '#thatPOWER', 6471),
 (2013.0, 96.0, 'Sara Bareilles', 'Sara Bareilles', 'Brave', 6472),
 (2013.0, 97.0, 'Passenger', 'Passenger', 'Let Her Go', 6473),
 (2013.0, 98.0, 'Randy Houser', 'Randy Houser', "Runnin' Outta Moonlight", 6474),
 (2013.0, 99.0, '2 Chainz', '2 Chainz', "I'm Different", 6475),
 (2013.0, 100.0, 'Paramore', 'Paramore', 'Still Into You', 6476)]

In [49]:
%%sql
SELECT * FROM bill_board
WHERE year = 2013
    AND year_rank <= 3

 * postgresql://postgres:***@localhost/portfolio
7 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Robin Thicke', 'Blurred Lines', 6337),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'T.I.', 'Blurred Lines', 6338),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Pharrell', 'Blurred Lines', 6339),
 (2013.0, 3.0, 'Imagine Dragons', 'Imagine Dragons', 'Radioactive', 6340)]

In [50]:
%%sql
SELECT * FROM bill_board
WHERE year = 2013 AND "group" NOT ILIKE '%Robin%'

 * postgresql://postgres:***@localhost/portfolio
140 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 3.0, 'Imagine Dragons', 'Imagine Dragons', 'Radioactive', 6340),
 (2013.0, 4.0, 'Baauer', 'Baauer', 'Harlem Shake', 6341),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Macklemore', "Can't Hold Us", 6342),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Ryan Lewis', "Can't Hold Us", 6343),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Ray Dalton', "Can't Hold Us", 6344),
 (2013.0, 6.0, 'Justin Timberlake', 'Justin Timberlake', 'Mirrors', 6345),
 (2013.0, 7.0, 'P!nk feat. Nate Ruess', 'P!nk', 'Just Give Me A Reason', 6346),
 (2013.0, 7.0, 'P!nk feat. Nate Ruess', 'Nate Ruess', 'Just Give Me A Reason', 6347),
 (2013.0, 8.0, 'Bruno Mars', 'Bruno Mars', 'When I Was Your Man', 6348),
 (2013.0, 9.0, 'Florida Georgia Line feat. Nelly', 'Florida Georgia Line', 'Cruise', 6349),
 (2013.0, 9.0, 'Florida Georgia Line feat. Nelly', 'Nelly', 'Cruise', 6350),
 (2013.0, 10.0, 'Katy Perry', 'Katy Perry', 'Roar', 6351),
 (2013.0, 11.0, 'Bruno Mars', 'Bruno Mars', 'Locked Out Of Heaven', 6352),
 (2013.0, 12.0, 'Lumineers', 'Lumineers', 'Ho Hey', 6353),
 (2013.0, 13.0, 'Rihanna feat. Mikky Ekko', 'Rihanna', 'Stay', 6354),
 (2013.0, 13.0, 'Rihanna feat. Mikky Ekko', 'Mikky Ekko', 'Stay', 6355),
 (2013.0, 14.0, 'Daft Punk feat. Pharrell Williams', 'Daft Punk', 'Get Lucky', 6356),
 (2013.0, 14.0, 'Daft Punk feat. Pharrell Williams', 'Pharrell Williams', 'Get Lucky', 6357),
 (2013.0, 15.0, 'Lorde', 'Lorde', 'Royals', 6358),
 (2013.0, 16.0, 'Taylor Swift', 'Taylor Swift', 'I Knew You Were Trouble', 6359),
 (2013.0, 17.0, 'Miley Cyrus', 'Miley Cyrus', "We Can't Stop", 6360),
 (2013.0, 18.0, 'Miley Cyrus', 'Miley Cyrus', 'Wrecking Ball', 6361),
 (2013.0, 19.0, 'Avicii', 'Avicii', 'Wake Me Up!', 6362),
 (2013.0, 20.0, 'Justin Timberlake feat. Jay Z', 'Justin Timberlake', 'Suit and Tie', 6363),
 (2013.0, 20.0, 'Justin Timberlake feat. Jay Z', 'Jay Z', 'Suit and Tie', 6364),
 (2013.0, 21.0, 'Anna Kendrick', 'Anna Kendrick', "Cups (Pitch Perfect's When I'm Gone)", 6365),
 (2013.0, 22.0, 'Jay Z feat. Justin Timberlake', 'Jay Z', 'Holy Grail', 6366),
 (2013.0, 22.0, 'Jay Z feat. Justin Timberlake', 'Justin Timberlake', 'Holy Grail', 6367),
 (2013.0, 23.0, 'will.i.am and Britney Spears', 'will.i.am', 'Scream and Shout', 6368),
 (2013.0, 23.0, 'will.i.am and Britney Spears', 'Britney Spears', 'Scream and Shout', 6369),
 (2013.0, 24.0, 'Zedd feat. Foxes', 'Zedd', 'Clarity', 6370),
 (2013.0, 24.0, 'Zedd feat. Foxes', 'Foxes', 'Clarity', 6371),
 (2013.0, 25.0, 'AWOLNATION', 'AWOLNATION', 'Sail', 6372),
 (2013.0, 26.0, 'Swedish House Mafia feat. John Martin', 'Swedish House Mafia', "Don't You Worry Child", 6373),
 (2013.0, 26.0, 'Swedish House Mafia feat. John Martin', 'John Martin', "Don't You Worry Child", 6374),
 (2013.0, 27.0, 'Rihanna', 'Rihanna', 'Diamonds', 6375),
 (2013.0, 28.0, 'Icona Pop feat. Charli XCX', 'Icona Pop', 'I Love It', 6376),
 (2013.0, 28.0, 'Icona Pop feat. Charli XCX', 'Charli XCX', 'I Love It', 6377),
 (2013.0, 29.0, 'Capital Cities', 'Capital Cities', 'Safe And Sound', 6378),
 (2013.0, 30.0, 'Bruno Mars', 'Bruno Mars', 'Treasure', 6379),
 (2013.0, 31.0, 'Ariana Grande feat. Mac Miller', 'Ariana Grande', 'The Way', 6380),
 (2013.0, 31.0, 'Ariana Grande feat. Mac Miller', 'Mac Miller', 'The Way', 6381),
 (2013.0, 32.0, 'Drake', 'Drake', 'Started From The Bottom', 6382),
 (2013.0, 33.0, 'Selena Gomez', 'Selena Gomez', 'Come and Get It', 6383),
 (2013.0, 34.0, 'Drake feat. Majid Jordan', 'Drake', "Hold On, We're Going Home", 6384),
 (2013.0, 34.0, 'Drake feat. Majid Jordan', 'Majid Jordan', "Hold On, We're Going Home", 6385),
 (2013.0, 35.0, 'Maroon 5', 'Maroon 5', 'Daylight', 6386),
 (2013.0, 36.0, 'Pitbull feat. Christina Aguilera', 'Pitbull', 'Feel This Moment', 6387),
 (2013.0, 36.0, 'Pitbull feat. Christina Aguilera', 'Christina Aguilera', 'Feel This Moment', 6388),
 (2013.0, 37.0, 'Lady Gaga', 'Lady Gaga', 'Applause', 6389),
 (2013.0, 38.0, 'Maroon 5', 'Maroon 5', 'One More Night', 6390),
 (2013.0, 39.0, 'Lil Wayne feat. Drake and Future', 'Lil Wayne', 'Love Me', 6391),
 (2013.0, 39.0, 'Lil Wayne feat. Drake and Future', 'Drake', 'Love Me', 6392),
 (2013.0, 39.0, 'Lil Wayne feat. Drake and Future', 'Future', 'Love Me', 6393),
 (2013.0, 40.0, 'Fall Out Boy', 'Fall Out Boy', 'My Songs Know What You Did In The Dark (Light Em Up)', 6394),
 (2013.0, 41.0, 'A$AP Rocky feat. Drake, 2 Chainz and Kendrick Lamar', 'A$AP Rocky', 'F**kin Problems', 6395),
 (2013.0, 41.0, 'A$AP Rocky feat. Drake, 2 Chainz and Kendrick Lamar', 'Drake', 'F**kin Problems', 6396),
 (2013.0, 41.0, 'A$AP Rocky feat. Drake, 2 Chainz and Kendrick Lamar', '2 Chainz', 'F**kin Problems', 6397),
 (2013.0, 41.0, 'A$AP Rocky feat. Drake, 2 Chainz and Kendrick Lamar', 'Kendrick Lamar', 'F**kin Problems', 6398),
 (2013.0, 42.0, 'Justin Bieber feat. Nicki Minaj', 'Justin Bieber', 'Beauty And A Beat', 6399),
 (2013.0, 42.0, 'Justin Bieber feat. Nicki Minaj', 'Nicki Minaj', 'Beauty And A Beat', 6400),
 (2013.0, 43.0, 'Macklemore and Ryan Lewis feat. Mary Lambert', 'Macklemore', 'Same Love', 6401),
 (2013.0, 43.0, 'Macklemore and Ryan Lewis feat. Mary Lambert', 'Ryan Lewis', 'Same Love', 6402),
 (2013.0, 43.0, 'Macklemore and Ryan Lewis feat. Mary Lambert', 'Mary Lambert', 'Same Love', 6403),
 (2013.0, 44.0, 'Calvin Harris feat. Florence Welch', 'Calvin Harris', 'Sweet Nothing', 6404),
 (2013.0, 44.0, 'Calvin Harris feat. Florence Welch', 'Florence Welch', 'Sweet Nothing', 6405),
 (2013.0, 45.0, 'Lana Del Rey and Cedric Gervais', 'Lana Del Rey', 'Summertime Sadness', 6406),
 (2013.0, 45.0, 'Lana Del Rey and Cedric Gervais', 'Cedric Gervais', 'Summertime Sadness', 6407),
 (2013.0, 46.0, 'Phillip Phillips', 'Phillip Phillips', 'Home', 6408),
 (2013.0, 47.0, 'Imagine Dragons', 'Imagine Dragons', "It's Time", 6409),
 (2013.0, 48.0, 'J. Cole feat. Miguel', 'J. Cole', 'Power Trip', 6410),
 (2013.0, 48.0, 'J. Cole feat. Miguel', 'Miguel', 'Power Trip', 6411),
 (2013.0, 49.0, 'Alicia Keys feat. Nicki Minaj', 'Alicia Keys', 'Girl On Fire', 6412),
 (2013.0, 49.0, 'Alicia Keys feat. Nicki Minaj', 'Nicki Minaj', 'Girl On Fire', 6413),
 (2013.0, 50.0, 'Demi Lovato', 'Demi Lovato', 'Heart Attack', 6414),
 (2013.0, 51.0, 'Maroon 5', 'Maroon 5', 'Love Somebody', 6415),
 (2013.0, 52.0, 'Mumford and Sons', 'Mumford and Sons', 'I Will Wait', 6416),
 (2013.0, 53.0, 'P!nk', 'P!nk', 'Try', 6417),
 (2013.0, 54.0, 'Darius Rucker', 'Darius Rucker', 'Wagon Wheel', 6418),
 (2013.0, 55.0, 'Psy', 'Psy', 'Gangnam Style', 6419),
 (2013.0, 56.0, 'Calvin Harris feat. Ellie Goulding', 'Calvin Harris', 'I Need Your Love', 6420),
 (2013.0, 56.0, 'Calvin Harris feat. Ellie Goulding', 'Ellie Goulding', 'I Need Your Love', 6421),
 (2013.0, 57.0, 'Ke$ha', 'Ke$ha', 'Die Young', 6422),
 (2013.0, 58.0, 'fun.', 'fun.', 'Some Nights', 6423),
 (2013.0, 59.0, 'Wale feat. Tiara Thomas or Rihanna', 'Wale', 'Bad', 6424),
 (2013.0, 59.0, 'Wale feat. Tiara Thomas or Rihanna', 'Tiara Thomas', 'Bad', 6425),
 (2013.0, 59.0, 'Wale feat. Tiara Thomas or Rihanna', 'Rihanna', 'Bad', 6426),
 (2013.0, 60.0, 'Blake Shelton feat. Pistol Annies and Friends', 'Blake Shelton', "Boys 'Round Here", 6427),
 (2013.0, 60.0, 'Blake Shelton feat. Pistol Annies and Friends', 'Piston Annies', "Boys 'Round Here", 6428),
 (2013.0, 61.0, 'Phillip Phillips', 'Phillip Phillips', 'Gone, Gone, Gone', 6429),
 (2013.0, 62.0, 'Imagine Dragons', 'Imagine Dragons', 'Demons', 6430),
 (2013.0, 63.0, 'OneRepublic', 'OneRepublic', 'Counting Stars', 6431),
 (2013.0, 64.0, 'Flo Rida', 'Flo Rida', 'I Cry', 6432),
 (2013.0, 65.0, 'Of Monsters And Men', 'Of Monsters And Men', 'Little Talks', 6433),
 (2013.0, 66.0, 'Jason Derulo', 'Jason Derulo', 'The Other Side', 6434),
 (2013.0, 67.0, 'Eminem', 'Eminem', 'Berzerk', 6435),
 (2013.0, 68.0, 'Kelly Clarkson', 'Kelly Clarkson', 'Catch My Breath', 6436),
 (2013.0, 69.0, 'Luke Bryan', 'Luke Bryan', 'Crash My Party', 6437),
 (2013.0, 70.0, 'Rihanna', 'Rihanna', 'Pour It Up', 6438),
 (2013.0, 71.0, 'Taylor Swift', 'Taylor Swift', '22', 6439),
 (2013.0, 72.0, 'Hunter Hayes', 'Hunter Hayes', 'I Want Crazy', 6440),
 (2013.0, 73.0, 'Ylvis', 'Ylvis', 'The Fox', 6441),
 (2013.0, 74.0, 'One Direction', 'One Direction', 'Best Song Ever', 6442),
 (2013.0, 75.0, 'Ed Sheeran', 'Ed Sheeran', 'The A Team', 6443),
 (2013.0, 76.0, 'fun.', 'fun.', 'Carry On', 6444),
 (2013.0, 77.0, 'Tim McGraw with Taylor Swift', 'Tim McGraw with Taylor Swift', "Highway Don't Care", 6445),
 (2013.0, 78.0, 'Luke Bryan', 'Luke Bryan', "That's My Kind Of Night", 6446),
 (2013.0, 79.0, 'Kendrick Lamar', 'Kendrick Lamar', 'Swimming Pools (Drank)', 6447),
 (2013.0, 80.0, 'Blake Shelton', 'Blake Shelton', 'Sure Be Cool If You Did', 6448),
 (2013.0, 81.0, 'Mariah Carey feat. Miguel', 'Mariah Carey', '#Beautiful', 6449),
 (2013.0, 81.0, 'Mariah Carey feat. Miguel', 'Miguel', '#Beautiful', 6450),
 (2013.0, 82.0, 'Olly Murs feat. Flo Rida', 'Olly Murs', 'Troublemaker', 6451),
 (2013.0, 82.0, 'Olly Murs feat. Flo Rida', 'Flo Rida', 'Troublemaker', 6452),
 (2013.0, 83.0, 'Ciara', 'Ciara', 'Body Party', 6453),
 (2013.0, 84.0, 'Miguel', 'Miguel', 'Adorn', 6454),
 (2013.0, 85.0, 'The Script feat. will.i.am', 'The Script', 'Hall Of Fame', 6455),
 (2013.0, 85.0, 'The Script feat. will.i.am', 'will.i.am', 'Hall Of Fame', 6456),
 (2013.0, 86.0, 'Ne-Yo', 'Ne-Yo', 'Let Me Love You (Until You Learn To Love Yourself)', 6457),
 (2013.0, 87.0, 'Rocko feat. Future and Rick Ross', 'Rocko', 'U.O.E.N.O.', 6458),
 (2013.0, 87.0, 'Rocko feat. Future and Rick Ross', 'Future', 'U.O.E.N.O.', 6459),
 (2013.0, 87.0, 'Rocko feat. Future and Rick Ross', 'Rick Ross', 'U.O.E.N.O.', 6460),
 (2013.0, 88.0, 'Emeli Sande', 'Emeli Sande', 'Next To Me', 6461),
 (2013.0, 89.0, 'Miranda Lambert', 'Miranda Lambert', "Mama's Broken Heart", 6462),
 (2013.0, 90.0, 'Thomas Rhett', 'Thomas Rhett', 'It Goes Like This', 6463),
 (2013.0, 91.0, 'Ace Hood feat. Future and Rick Ross', 'Ace Hood', 'Bugatti', 6464),
 (2013.0, 91.0, 'Ace Hood feat. Future and Rick Ross', 'Future', 'Bugatti', 6465),
 (2013.0, 91.0, 'Ace Hood feat. Future and Rick Ross', 'Rick Ross', 'Bugatti', 6466),
 (2013.0, 92.0, 'Hunter Hayes', 'Hunter Hayes', 'Wanted', 6467),
 (2013.0, 93.0, 'Lady Antebellum', 'Lady Antebellum', 'Downtown', 6468),
 (2013.0, 94.0, 'Florida Georgia Line', 'Florida Georgia Line', 'Get Your Shine On', 6469),
 (2013.0, 95.0, 'will.i.am feat. Justin Bieber', 'will.i.am', '#thatPOWER', 6470),
 (2013.0, 95.0, 'will.i.am feat. Justin Bieber', 'Justin Bieber', '#thatPOWER', 6471),
 (2013.0, 96.0, 'Sara Bareilles', 'Sara Bareilles', 'Brave', 6472),
 (2013.0, 97.0, 'Passenger', 'Passenger', 'Let Her Go', 6473),
 (2013.0, 98.0, 'Randy Houser', 'Randy Houser', "Runnin' Outta Moonlight", 6474),
 (2013.0, 99.0, '2 Chainz', '2 Chainz', "I'm Different", 6475),
 (2013.0, 100.0, 'Paramore', 'Paramore', 'Still Into You', 6476)]

In [51]:
%%sql
SELECT * FROM bill_board
WHERE year = 2013 AND artist IS NOT NULL
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Robin Thicke', 'Blurred Lines', 6337),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'T.I.', 'Blurred Lines', 6338),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Pharrell', 'Blurred Lines', 6339),
 (2013.0, 3.0, 'Imagine Dragons', 'Imagine Dragons', 'Radioactive', 6340),
 (2013.0, 4.0, 'Baauer', 'Baauer', 'Harlem Shake', 6341),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Macklemore', "Can't Hold Us", 6342),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Ryan Lewis', "Can't Hold Us", 6343)]

### SQL ORDER BY
ORDER BY clause enables reordering results based on data from other columns.

In [52]:
%%sql
SELECT * FROM bill_board
ORDER BY artist
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2002.0, 75.0, "'N Sync", "'N Sync", 'Gone', 4910),
 (2000.0, 21.0, "'N Sync", "'N Sync", 'Bye Bye Bye', 4585),
 (2001.0, 51.0, "'N Sync", "'N Sync", 'This I Promise You', 4741),
 (2002.0, 33.0, "'N Sync feat. Nelly", "'N Sync", 'Girlfriend', 4849),
 (1999.0, 97.0, "'N Sync and Gloria Estefan", "'N Sync", 'Music Of My Heart', 4556),
 (1999.0, 45.0, "'N Sync", "'N Sync", '(God Must Have Spent) A Little More Time On You', 4491),
 (1998.0, 37.0, "'N Sync", "'N Sync", 'I Want You Back', 4366),
 (2000.0, 27.0, "'N Sync", "'N Sync", "It's Gonna Be Me", 4591),
 (1999.0, 100.0, "Alabama feat. 'N Sync", "'N Sync", 'God Must Have Spent A Little More Time On You', 4562),
 (1985.0, 68.0, "'Til Tuesday", "'Til Tuesday", 'Voices Carry', 3047)]

In [53]:
%%sql
SELECT * FROM bill_board
WHERE year = 2013
ORDER BY year_rank DESC
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2013.0, 100.0, 'Paramore', 'Paramore', 'Still Into You', 6476),
 (2013.0, 99.0, '2 Chainz', '2 Chainz', "I'm Different", 6475),
 (2013.0, 98.0, 'Randy Houser', 'Randy Houser', "Runnin' Outta Moonlight", 6474),
 (2013.0, 97.0, 'Passenger', 'Passenger', 'Let Her Go', 6473),
 (2013.0, 96.0, 'Sara Bareilles', 'Sara Bareilles', 'Brave', 6472),
 (2013.0, 95.0, 'will.i.am feat. Justin Bieber', 'will.i.am', '#thatPOWER', 6470),
 (2013.0, 95.0, 'will.i.am feat. Justin Bieber', 'Justin Bieber', '#thatPOWER', 6471),
 (2013.0, 94.0, 'Florida Georgia Line', 'Florida Georgia Line', 'Get Your Shine On', 6469),
 (2013.0, 93.0, 'Lady Antebellum', 'Lady Antebellum', 'Downtown', 6468),
 (2013.0, 92.0, 'Hunter Hayes', 'Hunter Hayes', 'Wanted', 6467)]

#### A query that returns all rows from 2012, ordered by song title from Z to A.

In [54]:
%%sql
SELECT * FROM bill_board
WHERE year >= 2012
ORDER BY song_name DESC
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2012.0, 32.0, 'Snoop Dogg and Wiz Khalifa feat. Bruno Mars', 'Bruno Mars', 'Young, Wild and Free', 6249),
 (2012.0, 32.0, 'Snoop Dogg and Wiz Khalifa feat. Bruno Mars', 'Wiz Khalifa', 'Young, Wild and Free', 6248),
 (2012.0, 32.0, 'Snoop Dogg and Wiz Khalifa feat. Bruno Mars', 'Snoop Dogg', 'Young, Wild and Free', 6247),
 (2012.0, 89.0, 'Rihanna', 'Rihanna', 'You Da One', 6321),
 (2013.0, 18.0, 'Miley Cyrus', 'Miley Cyrus', 'Wrecking Ball', 6361),
 (2012.0, 63.0, 'J. Cole', 'J. Cole', 'Work Out', 6291),
 (2012.0, 73.0, 'Wiz Khalifa', 'Wiz Khalifa', 'Work Hard, Play Hard', 6302),
 (2012.0, 50.0, 'David Guetta feat. Usher', 'David Guetta', 'Without You', 6273),
 (2012.0, 50.0, 'David Guetta feat. Usher', 'Usher', 'Without You', 6274),
 (2012.0, 11.0, 'Flo Rida feat. Sia', 'Sia', 'Wild Ones', 6218)]

### Ordering data by multiple columns

In [55]:
%%sql
SELECT * FROM bill_board
WHERE year_rank <= 3
ORDER BY year DESC, year_rank
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'T.I.', 'Blurred Lines', 6338),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Pharrell', 'Blurred Lines', 6339),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Robin Thicke', 'Blurred Lines', 6337),
 (2013.0, 3.0, 'Imagine Dragons', 'Imagine Dragons', 'Radioactive', 6340),
 (2012.0, 1.0, 'Gotye feat. Kimbra', 'Gotye', 'Somebody That I Used To Know', 6203),
 (2012.0, 1.0, 'Gotye feat. Kimbra', 'Kimbra', 'Somebody That I Used To Know', 6204),
 (2012.0, 2.0, 'Carly Rae Jepsen', 'Carly Rae Jepsen', 'Call Me Maybe', 6205)]

The above query makes the most recent years come first but orders top-ranks songs before lower-ranked songs:

In [56]:
%%sql
SELECT * FROM bill_board
WHERE year_rank <= 3
ORDER BY year_rank, year DESC
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2012.0, 1.0, 'Gotye feat. Kimbra', 'Kimbra', 'Somebody That I Used To Know', 6204),
 (2012.0, 1.0, 'Gotye feat. Kimbra', 'Gotye', 'Somebody That I Used To Know', 6203),
 (2011.0, 1.0, 'Adele', 'Adele', 'Rolling In The Deep', 6056),
 (2010.0, 1.0, 'Ke$ha', 'Ke$ha', 'TiK ToK', 5909),
 (2009.0, 1.0, 'The Black Eyed Peas', 'The Black Eyed Peas', 'Boom Boom Pow', 5779),
 (2008.0, 1.0, 'Flo Rida feat. T-Pain', 'T-Pain', 'Low', 5639),
 (2008.0, 1.0, 'Flo Rida feat. T-Pain', 'Flo Rida', 'Low', 5638)]

### Substituting numbers for column names in the ORDER BY clause

In [57]:
%%sql
SELECT * FROM bill_board--(This wont affect the code)
WHERE year_rank <= 3
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1956.0, 1.0, 'Elvis Presley', 'Elvis Presley', 'Heartbreak Hotel', 1),
 (1956.0, 2.0, 'Elvis Presley', 'Elvis Presley', "Don't Be Cruel", 2),
 (1956.0, 3.0, 'Nelson Riddle', 'Nelson Riddle', 'Lisbon Antigua', 3),
 (1957.0, 1.0, 'Elvis Presley', 'Elvis Presley', 'All Shook Up', 104),
 (1957.0, 2.0, 'Pat Boone', 'Pat Boone', 'Love Letters In The Sand', 105),
 (1957.0, 3.0, 'Diamonds', 'Diamonds', "Little Darlin'", 106),
 (1958.0, 1.0, 'Domenico Modugno', 'Domenico Modugno', 'Volare (Nel Blu Dipinto Di Blu)', 204),
 (1958.0, 2.0, 'Everly Brothers', 'Everly Brothers', 'All I Have To Do Is Dream / Claudette', 205),
 (1958.0, 3.0, 'Elvis Presley', 'Elvis Presley', "Don't / I Beg Of You", 206),
 (1959.0, 1.0, 'Johnny Horton', 'Johnny Horton', 'The Battle Of New Orleans', 305)]

In [58]:
%%sql
SELECT *
  FROM bill_board
 WHERE year_rank <= 10
 ORDER BY 1, 2
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(1956.0, 1.0, 'Elvis Presley', 'Elvis Presley', 'Heartbreak Hotel', 1),
 (1956.0, 2.0, 'Elvis Presley', 'Elvis Presley', "Don't Be Cruel", 2),
 (1956.0, 3.0, 'Nelson Riddle', 'Nelson Riddle', 'Lisbon Antigua', 3),
 (1956.0, 4.0, 'Platters', 'Platters', 'My Prayer', 4),
 (1956.0, 5.0, 'Gogi Grant', 'Gogi Grant', 'The Wayward Wind', 5),
 (1956.0, 6.0, 'Les Baxter', 'Les Baxter', 'The Poor People Of Paris', 6),
 (1956.0, 7.0, 'Doris Day', 'Doris Day', 'Whatever Will Be Will Be (Que Sera Sera)', 7),
 (1956.0, 8.0, 'Elvis Presley', 'Elvis Presley', 'Hound Dog', 8),
 (1956.0, 9.0, 'Dean Martin', 'Dean Martin', 'Memories Are Made Of This', 9),
 (1956.0, 10.0, 'Kay Starr', 'Kay Starr', 'Rock And Roll Waltz', 10)]

#### A query that returns all rows from 2010 ordered by rank, with artists ordered alphabetically for each song.

In [59]:
%%sql
SELECT * FROM bill_board
WHERE year >= 2010
ORDER BY year_rank, "artist"
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2011.0, 1.0, 'Adele', 'Adele', 'Rolling In The Deep', 6056),
 (2012.0, 1.0, 'Gotye feat. Kimbra', 'Gotye', 'Somebody That I Used To Know', 6203),
 (2010.0, 1.0, 'Ke$ha', 'Ke$ha', 'TiK ToK', 5909),
 (2012.0, 1.0, 'Gotye feat. Kimbra', 'Kimbra', 'Somebody That I Used To Know', 6204),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2012.0, 2.0, 'Carly Rae Jepsen', 'Carly Rae Jepsen', 'Call Me Maybe', 6205),
 (2011.0, 2.0, 'LMFAO feat. Lauren Bennett and GoonRock', 'GoonRock', 'Party Rock Anthem', 6059),
 (2011.0, 2.0, 'LMFAO feat. Lauren Bennett and GoonRock', 'LMFAO', 'Party Rock Anthem', 6057)]

### Using comments
One can use-- (two dashes) or /* (forward slash and asterisk)

In [60]:
%%sql
SELECT *  --This comment won't affect the way the code runs
  FROM bill_board
 WHERE year = 2013
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Robin Thicke', 'Blurred Lines', 6337),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'T.I.', 'Blurred Lines', 6338),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Pharrell', 'Blurred Lines', 6339),
 (2013.0, 3.0, 'Imagine Dragons', 'Imagine Dragons', 'Radioactive', 6340),
 (2013.0, 4.0, 'Baauer', 'Baauer', 'Harlem Shake', 6341),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Macklemore', "Can't Hold Us", 6342),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Ryan Lewis', "Can't Hold Us", 6343)]

In [61]:
%%sql
SELECT * FROM bill_board/* Here's a comment so long and descriptive that
it could only fit on multiple lines. Fortunately,
it, too, will not affect how this code runs. */
WHERE year = 2013
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Macklemore', 'Thrift Shop', 6334),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Ryan Lewis', 'Thrift Shop', 6335),
 (2013.0, 1.0, 'Macklemore and Ryan Lewis feat. Wanz', 'Wanz', 'Thrift Shop', 6336),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Robin Thicke', 'Blurred Lines', 6337),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'T.I.', 'Blurred Lines', 6338),
 (2013.0, 2.0, 'Robin Thicke feat. T.I. and Pharrell', 'Pharrell', 'Blurred Lines', 6339),
 (2013.0, 3.0, 'Imagine Dragons', 'Imagine Dragons', 'Radioactive', 6340),
 (2013.0, 4.0, 'Baauer', 'Baauer', 'Harlem Shake', 6341),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Macklemore', "Can't Hold Us", 6342),
 (2013.0, 5.0, 'Macklemore and Ryan Lewis feat. Ray Dalton', 'Ryan Lewis', "Can't Hold Us", 6343)]

#### A query that shows all rows for which T-Pain was a group member, ordered by rank on the charts, from lowest to highest rank (from 100 to 1).

In [62]:
%%sql
SELECT * FROM bill_board
WHERE "group" ILIKE '%T-Pain%'
ORDER BY year_rank DESC
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[(2008.0, 100.0, '2 Pistols feat. T-Pain and Tay Dizm', 'T-Pain', 'She Got It', 5777),
 (2008.0, 100.0, '2 Pistols feat. T-Pain and Tay Dizm', 'Tay Dizm', 'She Got It', 5778),
 (2008.0, 100.0, '2 Pistols feat. T-Pain and Tay Dizm', '2 Pistols', 'She Got It', 5776),
 (2006.0, 98.0, 'T-Pain', 'T-Pain', "I'm Sprung", 5492),
 (2005.0, 95.0, 'T-Pain', 'T-Pain', "I'm Sprung", 5348),
 (2007.0, 93.0, 'Chris Brown feat. T-Pain', 'Chris Brown', 'Kiss Kiss', 5626),
 (2007.0, 93.0, 'Chris Brown feat. T-Pain', 'T-Pain', 'Kiss Kiss', 5627),
 (2007.0, 88.0, 'Bow Wow feat. T-Pain and Johnta Austin', 'Johnta Austin', 'Outta My System', 5620),
 (2007.0, 88.0, 'Bow Wow feat. T-Pain and Johnta Austin', 'Bow Wow', 'Outta My System', 5618),
 (2007.0, 88.0, 'Bow Wow feat. T-Pain and Johnta Austin', 'T-Pain', 'Outta My System', 5619)]

#### A query that returns songs that ranked between 10 and 20 (inclusive) in 1993, 2003, or 2013. Order the results by year and rank, and leave a comment on each line of the WHERE clause to indicate what that line does

In [63]:
%%sql
SELECT * FROM bill_board
WHERE year IN (1993,2003,2013) AND year_rank BETWEEN 10 AND 20
ORDER BY year, year_rank
LIMIT 15

 * postgresql://postgres:***@localhost/portfolio
15 rows affected.

[(1993.0, 10.0, 'Snow', 'Snow', 'Informer', 3814),
 (1993.0, 11.0, 'Dr. Dre', 'Dr. Dre', 'Nuthin\' But A "G" Thang', 3815),
 (1993.0, 12.0, 'Boyz II Men', 'Boyz II Men', 'In The Still Of The Nite', 3816),
 (1993.0, 13.0, 'Jade', 'Jade', "Don't Walk Away", 3817),
 (1993.0, 14.0, 'H-Town', 'H-Town', "Knockin' Da Boots", 3818),
 (1993.0, 15.0, 'Jodeci', 'Jodeci', 'Lately', 3819),
 (1993.0, 16.0, 'Duice', 'Duice', 'Dazzey Duks', 3820),
 (1993.0, 17.0, 'Robin S.', 'Robin S.', 'Show Me Love', 3821),
 (1993.0, 18.0, 'Peabo Bryson and Regina Belle', 'Regina Belle', 'A Whole New World', 3823),
 (1993.0, 18.0, 'Peabo Bryson and Regina Belle', 'Peabo Bryson', 'A Whole New World', 3822),
 (1993.0, 19.0, 'Janet Jackson', 'Janet Jackson', 'If', 3824),
 (1993.0, 20.0, 'SWV', 'SWV', "I'm So Into You", 3825),
 (2003.0, 10.0, 'Evanescence feat. Paul McCoy', 'Paul McCoy', 'Bring Me To Life', 4951),
 (2003.0, 10.0, 'Evanescence feat. Paul McCoy', 'Evanescence', 'Bring Me To Life', 4950),
 (2003.0, 11.0, 'Lil Jon and The East Side Boyz feat. Ying Yang Twins', 'Lil Jon and the East Side Boyz', 'Get Low', 4952)]